server {
    listen 80;
    server_name abc.ordina.nl;
    access_log /var/log/nginx/access.log upstreamlog;

{{ range $dir := lsdir "/services/<%service%>" }}
{{ $serviceDir := printf "/services/<%service%>/%s/*" $dir }}
{{ range gets $serviceDir }}
{{ if contains (.Key) "#" }}
{{ $service := split ($dir) "#" }}
{{ $config := split (.Key) ":" }}
{{ $url := split (index $config 1) "." }}

    location /{{ index $service 0}}-{{ index $service 1}} {
        rewrite /{{ index $service 0}}-{{ index $service 1}}(.*) /$1  break;
        proxy_pass http://{{ .Value }};
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

{{ end }}{{ end }}{{ end }}
}
